<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="UPLR5.Properties.Settings.FitnessCentreConnectionString"
            connectionString="Data Source=DESKTOP-HPUN3GH\SQLEXPRESS;Initial Catalog=FitnessCentre;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="UPLR5.Properties.Settings.FitnessCentretestConnectionString"
            connectionString="Data Source=DESKTOP-HPUN3GH\SQLEXPRESS;Initial Catalog=FitnessCentretest;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>